  <form ng-submit='transferInputs()'>
    <input type="text" ng-model='userInputs.character' placeholder='Your favorite book/movie character'>
    <input type="text" ng-model='userInputs.occasion' placeholder='Momentous/significant occasion'>
    <input type="text" ng-model='userInputs.insect' placeholder='Flying insect'>
    <input type="text" ng-model='userInputs.energy' placeholder='Something that gives you energy'>
    <input type="text" ng-model='userInputs.body' placeholder='Body part'>
    <input type="text" ng-model='userInputs.viscousLiquid' placeholder='A gooey/sticky liquid'>
    <input type="text" ng-model='userInputs.shinyObject' placeholder='A shiny object'>
    <input type="text" ng-model='userInputs.lightSource' placeholder='Something that emits light'>
    <input type="text" ng-model='userInputs.herdAnimal' placeholder='A hooved animal'>
    <input type="text" ng-model='userInputs.building' placeholder='A type of building'>
    <input type="text" ng-model='userInputs.wet' placeholder='Something wet'>
    <input type="text" ng-model='userInputs.warm' placeholder='Something warm'>
    <input type="text" ng-model='userInputs.fragrant' placeholder='Something that smells good'>
    <input type="text" ng-model='userInputs.stinky' placeholder='Something that smells badly'>
    <input type="text" ng-model='userInputs.strongAnimal' placeholder='A very strong animal'>
    <input type="text" ng-model='userInputs.squishy' placeholder='Something squishy'>
    <input type="text" ng-model='userInputs.star' placeholder='An attractive actor/actress'>
    <input type="text" ng-model='userInputs.favMovie' placeholder='Your favorite movie'>
    <button type="submit" name="button">Submit</button>
  </form>
